<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/component.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/export.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style_grid.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <div th:insert="~{manage/navigation :: nav}"></div>
    <div class="clearfix"></div>
    <div class="inner_content">
        <div class="inner_content_w3_agile_info">
            <div class="agile_top_w3_grids">
                <ul class="ca-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <div class="ca-content">
                                <h4 class="ca-main" th:text="${userCount}"></h4>
                                <h3 class="ca-sub">用户</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                            <div class="ca-content">
                                <h4 class="ca-main one" th:text="${exerciseCount}"></h4>
                                <h3 class="ca-sub one">习题</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                            <div class="ca-content">
                                <h4 class="ca-main two" th:text="${exerciseSetCount}"></h4>
                                <h3 class="ca-sub two">套题</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <div class="ca-content">
                                <h4 class="ca-main three" th:text="${commentCount}"></h4>
                                <h3 class="ca-sub three">评论</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-warning (alias)" aria-hidden="true"></i>
                            <div class="ca-content">
                                <h4 class="ca-main four" th:text="${permissionCount}"></h4>
                                <h3 class="ca-sub four">申请</h3>
                            </div>
                        </a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyrights">
    <p>Copyright &copy; 2019. <a href="/" target="_blank" title="在线答题系统">在线答题系统</a> All Rights Reserved Powered</p>
</div>

<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/modernizr.custom.js"></script>

<script src="/js/classie.js"></script>
<script src="/js/gnmenu.js"></script>
<script>
    new gnMenu(document.getElementById('gn-menu'));
</script>
<!-- /amcharts -->
<script src="/js/amcharts.js"></script>
<script src="/js/serial.js"></script>
<script src="/js/export.js"></script>
<script src="/js/light.js"></script>
<script src="/js/xy.js"></script>
<script src="/js/gauge.js"></script>
<script src="/js/radar.js"></script>
<script src="/js/pie.js"></script>


<!-- //js -->
<script src="/js/screenfull.js"></script>
<script>
    $(function () {
        $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

        if (!screenfull.enabled) {
            return false;
        }

        $('#toggle').click(function () {
            screenfull.toggle($('#container')[0]);
        });
    });
</script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/scripts.js"></script>

<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>