<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>套题管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/component.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style_grid.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/answer.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div class="wthree_agile_admin_info">
    <div th:insert="~{manage/navigation :: nav}"></div>

    <div class="clearfix"></div>
    <!-- //w3_agileits_top_nav-->

    <!-- /inner_content-->
    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->

        <!-- breadcrumbs -->
        <div class="w3l_agileits_breadcrumbs">
            <div class="w3l_agileits_breadcrumbs_inner">
                <ul>
                    <li>首页<span>»</span></li>
                    <li>套题管理<span>»</span></li>
                    <li>编辑套题</li>
                </ul>
            </div>
        </div>
        <!-- //breadcrumbs -->

        <div class="inner_content_w3_agile_info two_in">
            <div class="agile-grids">
                <!-- validation -->
                <div class="grids">
                    <div class="forms-grids">
                        <div class="w3agile-validation w3ls-validation">
                            <div class="agile-validation agile_info_shadow">
                                <div class="form-div">
                                    <div class="validation-grids widget-shadow" data-example-id="basic-forms">
                                        <div class="input-info">
                                            <h3 class="w3_inner_tittle two">编辑习题：</h3>
                                        </div>
                                        <div class="alert alert-danger" role="alert" th:if="${message != null}">
                                            <strong th:text="${message}"></strong>
                                        </div>
                                        <div class="form-body form-body-info">
                                            <form data-toggle="validator" novalidate="true"
                                                  action="/manager/exerciseSet/addOrUpdate" method="post">
                                                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                                                    <label class="col-xs-2 col-md-2 col-sm-2 control-label">学科：</label>
                                                    <input id="modelInput" type="hidden" th:if="${exerciseSetDTO != null}" th:value="${exerciseSetDTO.baseList}">
                                                    <input id="id" type="hidden" name="exerciseSetId" th:value="${exerciseSetDTO != null?exerciseSetDTO.exerciseSetId:''}">
                                                    <div class="col-xs-8 col-md-8 col-sm-8">
                                                        <select id="base" onchange="showSubject(this.value)"  class="form-control" style="height: 50px;"
                                                                th:if='${exerciseSetDTO != null}'>
                                                            <option th:each="base:${exerciseSetDTO.baseList}"
                                                                    th:text="${base}" th:value="${base}"
                                                                    th:selected='${exerciseSetDTO.subjectList[0].baseSubject== base}'></option>
                                                        </select>

                                                        <select id="base" onchange="showSubject(this.value)" class="form-control" style="height: 50px;" th:if='${exerciseSetDTO == null}'>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group  col-xs-12 col-md-12 col-sm-12">
                                                    <label class="col-xs-2 col-md-2 col-sm-2 control-label">题目分类：</label>
                                                    <div class="col-xs-8 col-md-8 col-sm-8">
                                                        <select id="subjectId" name="subject.subjectId" class="form-control"
                                                                style="height: 50px;" th:if='${exerciseSetDTO != null}'>
                                                            <option th:each="subject:${exerciseSetDTO.subjectList}"
                                                                    th:text="${subject.name}"
                                                                    th:value="${exerciseSetDTO.subject.subjectId}"
                                                                    th:selected='${subject.subjectId == exerciseSetDTO.subject.subjectId}'></option>
                                                        </select>

                                                        <select id="subjectId" name="subject.subjectId" class="form-control"
                                                                style="height: 50px;" th:if='${exerciseSetDTO == null}'>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group  col-xs-12 col-md-12 col-sm-12">
                                                    <label class="col-xs-2 col-md-2 col-sm-2 control-label">套题标题：</label>
                                                    <div class="col-xs-8 col-md-8 col-sm-8">
                                                        <input th:if='${exerciseSetDTO == null}' type="text" class="form-control" name="title"  required="">
                                                        <input th:if='${exerciseSetDTO != null}' th:value='${exerciseSetDTO.title}' type="text" class="form-control" name="title"  required="">
                                                    </div>
                                                    <button type="button" onclick="addExercise('button')"
                                                            class="btn btn-primary">
                                                        添加题目
                                                    </button>
                                                </div>
                                                <div id="exercise-div" class="form-group  col-xs-12 col-md-12 col-sm-12" th:style="${exerciseSetDTO==null||(exerciseSetDTO!=null&&exerciseSetDTO.exerciseList==null)?'display: none':''}">
                                                    <label class="col-xs-2 col-md-2 col-sm-2 control-label">题目：</label>
                                                    <!--<input type="hidden" id="tableSum" th:value="${exerciseSetDTO!=null?exerciseSetDTO.exerciseList.size():'0'}">-->
                                                    <div class="col-xs-10 col-md-10 col-sm-10">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>ID</th>
                                                                    <th>题目类型</th>
                                                                    <th>题干</th>
                                                                    <th>操作</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="exercise-tbody" th:if='${exerciseSetDTO == null}'>
                                                                </tbody>
                                                                <tbody id="exercise-tbody" th:if='${exerciseSetDTO != null}'>
                                                                    <tr th:unless="${#lists.isEmpty(exerciseSetDTO.exerciseList)}" th:each="exercise,status:${exerciseSetDTO.exerciseList}">
                                                                        <td><input th:value="${exercise.exerciseId}" th:name="|exerciseList[${status.index}].exerciseId|" checked type="checkbox"></td>
                                                                        <td th:text="${exercise.exerciseId}"></td>
                                                                        <td th:text="${exercise.exerciseType}"></td>
                                                                        <td th:text="${exercise.exerciseTitle}"></td>
                                                                        <td><button type="button" th:onclick="|showExerciseForExerciseSet(${exercise?.exerciseId})|"  class="btn btn-primary"> 查看 </button></td>
                                                                        <td><button type="button" th:onclick="|deleteExerciseTbody(${exercise?.exerciseId})|"  class="btn btn-primary"> 删除 </button></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">确定</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{foot :: foot}"></div>
<div class="modal fade" id="showAddExercise" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="exampleModalLabel2">习题</h4>
            </div>
            <div class="modal-body" id="exerciseBody">
                <div class="list-group">
                    <h4 class="list-group-item-heading" style="text-align: center" id="addExerciseTitle"></h4>
                    <div id="addExerciseOption" style="text-align: center;margin: 20px auto;"></div>
                    <div id="addExerciseSubject" style="text-align: left;margin: 20px 10%;"></div>
                    <div id="addExerciseCorrect" style="text-align: left;margin: 20px 10%;"></div>
                    <div id="addExerciseAnalysis" style="text-align: left;margin: 20px 10%;"></div>
                </div>
                <section id="permission" class="kopa-area" style="padding: 20px 0">
                    <div class="container">
                        <div class="shop-content">
                            <div class=" product has-post-thumbnail">
                                <div class="summary entry-summary" style="float: none;">
                                    <div class="product_meta">
                                            <span class="sku_wrapper">申请状态：
                                                <span class="sku" id="addExercise_status"></span>
                                            </span>
                                        <span class="posted_in" id="addExercise_is">拒绝理由：
                                               <span class="sku" id="addExercise_reason"></span>
                                            </span>
                                        <span class="tagged_as">申请日期:
                                                <span class="sku" id="addExercise_date"></span>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button id="modify" style="background: #3498db;display: none;float: left;" type="button" class="btn btn-default" data-dismiss="modal">修改</button>
                <button style="background: #3498db" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="exampleModalLabel">习题</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" id="exerciseTypeHidden">
                    <input type="hidden" id="searchHidden">
                    <select name="type" id="exerciseType" style="width: 100px;height: 33px;margin-right: 10px;">
                        <option value="单选题">单选题</option>
                        <option value="多选题">多选题</option>
                        <option value="判断题">判断题</option>
                        <input type="text" id="search" name="search" style=" height: 33px;width: 200px;">
                        <!--<input type="hidden" name="subjectId" id="modalSubjectId">-->
                        <button onclick="submitSearchExercise('button')" class="btn btn-primary">搜索</button>
                    </select>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>题型</th>
                            <th>题目</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="table-tbody">

                        </tbody>
                    </table>
                </div>
                <div>
                    <nav id="navPage" style="text-align: center;">
                        <ul class="pagination">
                            <li>
                                <a onclick="delPage('a')"  href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li>
                                <a id="pageA" href="javascript:void(0)" >
                                </a>
                            </li>
                            <li>
                                <a onclick="addPage('a')"  href="javascript:void(0)" aria-label="Next">
                                    <input type="hidden" id="page">
                                    <input type="hidden" id="totalPage">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary" onclick="addExerciseToset()">确认</button>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/modernizr.custom.js"></script>

<script src="/js/classie.js"></script>
<script src="/js/answer.js"></script>
<script src="/js/gnmenu.js"></script>
<script>
    new gnMenu(document.getElementById('gn-menu'));
</script>
<!-- input-forms -->
<script type="text/javascript" src="/js/valida.2.1.6.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#version').valida('version');

        $('.valida').valida();

        $('#partial-1').on('click', function (ev) {
            ev.preventDefault();
            $('#res-1').click(); // clear form error msgs
            $('form').valida('partial', '#field-1'); // validate only field-1
            $('form').valida('partial', '#field-1-3'); // validate only field-1-3
        });

    });

</script>
<script src="/js/validator.min.js"></script>
<script src="/js/screenfull.js"></script>
<script>
    window.onload = function () {
        var modelInput = $("#modelInput").val();
        if (modelInput != null && modelInput != "") {
            return
        }
        $.ajax({
            url: '/subject/base',
            type: 'post',
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    $('#base').html("");
                    for (var i = 0; i < data.length; i++) {
                        $('#base').append("<option>" + data[i] + "</option>");
                    }
                    showSubject(data[0]);
                }
            }
        });
    }
</script>

<script>
    $(function () {
        $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

        if (!screenfull.enabled) {
            return false;
        }


        $('#toggle').click(function () {
            screenfull.toggle($('#container')[0]);
        });
    });
</script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/scripts.js"></script>

<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
</body>
</html>