<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>评论管理</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/css/table-style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/basictable.css"/>
    <link href="/css/component.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style_grid.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/answer.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <div th:insert="~{manage/navigation :: nav}"></div>
    <div class="clearfix"></div>

    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->

        <!-- breadcrumbs -->
        <div class="w3l_agileits_breadcrumbs">
            <div class="w3l_agileits_breadcrumbs_inner">
                <ul>
                    <li>首页<span>»</span></li>
                    <li>评论管理<span>»</span></li>
                    <li>评论查询</li>
                </ul>
            </div>
        </div>
        <!-- //breadcrumbs -->

        <div class="inner_content_w3_agile_info two_in">
            <div class="agile-tables">
                <div class="w3l-table-info agile_info_shadow">
                    <h3 class="w3_inner_tittle two">评论列表</h3>
                    <div>
                        <select name="type" id="type"  class="answer-select">
                            <option th:selected="${type == 'user'}" value="user">用户ID</option>
                            <option th:selected="${type == 'exercise'}" value="exercise">习题ID</option>
                        </select> ： <input type="text" id="search" th:value="${search}" name="search" style=" height: 33px;width: 200px;">
                        <button onclick="submitCommentFrom(1)" class="btn btn-primary" style="margin-bottom: 3px;">搜索</button>
                    </div>
                    <table id="table" class="answer-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>评论人ID</th>
                            <th>习题ID</th>
                            <th>评论内容</th>
                            <th>评论时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="comment:${paginationDTO.dataList}">
                            <td th:text="${comment.id}"></td>
                            <td th:text="${comment.userId}"></td>
                            <td th:text="${comment.exerciseId}"></td>
                            <td th:title="${comment.content}" class="answer-table-td" th:text="${comment.content}"></td>
                            <td th:text="${#dates.format(comment.createTime,'yyyy-MM-dd hh:mm:ss')}"></td>
                            <td>
                                <button th:onclick="deleteCommentModal([[${comment.id}]]);" type="button" class="btn btn-danger">
                                    删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <nav style="text-align: center;">
                            <ul class="pagination" th:if="${paginationDTO.totalPage} > 0">
                                <li>
                                    <a href="javascript:void(0)" aria-label="Previous">
                                        <input type="hidden" id="totalPage" th:value="${paginationDTO.totalPage}">
                                        <span aria-hidden="true" th:text="|共${paginationDTO.totalPage}页|"></span>
                                    </a>
                                </li>
                                <li th:if="${paginationDTO.currentPage > 4} ">
                                    <a href="#" aria-label="Previous" th:href="@{/manager/user/check(currentPage=1 ,type=${type}, search=${search})}">
                                        <span aria-hidden="true">&lt;&lt;</span>
                                    </a>
                                </li>
                                <li th:if="${paginationDTO.currentPage != 1} ">
                                    <a href="#" aria-label="Previous"
                                       th:href="@{/manager/comment/check(currentPage=${paginationDTO.currentPage-1},type=${type}, search=${search})}">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <li th:if="${paginationDTO.totalPage<=7}"
                                    th:each="pageNo : ${#numbers.sequence(1, paginationDTO.totalPage)}"
                                    th:class="${paginationDTO.currentPage == pageNo}?'active'">
                                    <a href="#" th:text="${pageNo}"
                                       th:href="@{/manager/comment/check(currentPage=${pageNo},type=${type}, search=${search})}"></a>
                                </li>
                                <li th:if="${paginationDTO.totalPage>7 && paginationDTO.currentPage<=3}"
                                    th:each="pageNo : ${#numbers.sequence(1, 7)}"
                                    th:class="${paginationDTO.currentPage == pageNo}?'active'">
                                    <a href="#" th:text="${pageNo}"
                                       th:href="@{/manager/comment/check(currentPage=${pageNo},type=${type}, search=${search})}"></a>
                                </li>
                                <li th:if="${paginationDTO.totalPage>7 && paginationDTO.currentPage>3 && paginationDTO.totalPage-paginationDTO.currentPage>=3}"
                                    th:each="pageNo : ${#numbers.sequence(paginationDTO.currentPage-3, paginationDTO.currentPage+3)}"
                                    th:class="${paginationDTO.currentPage == pageNo}?'active'">
                                    <a href="#" th:text="${pageNo}"
                                       th:href="@{/manager/comment/check(currentPage=${pageNo},type=${type}, search=${search})}"></a>
                                </li>

                                <li th:if="${paginationDTO.totalPage>7 && paginationDTO.currentPage>3 && paginationDTO.totalPage-paginationDTO.currentPage<3}"
                                    th:each="pageNo : ${#numbers.sequence(paginationDTO.currentPage-3, paginationDTO.totalPage)}"
                                    th:class="${paginationDTO.currentPage == pageNo}?'active'">
                                    <a href="#" th:text="${pageNo}"
                                       th:href="@{/manager/comment/check(currentPage=${pageNo},type=${type}, search=${search})}"></a>
                                </li>


                                <li th:if="${paginationDTO.currentPage != paginationDTO.totalPage} ">
                                    <a href="#" aria-label="Next"
                                       th:href="@{/manager/comment/check(currentPage=${paginationDTO.currentPage+1},type=${type}, search=${search})}">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li th:if="${paginationDTO.currentPage+3 < paginationDTO.totalPage} ">
                                    <a href="#" aria-label="Next"
                                       th:href="@{/manager/comment/check(currentPage=${paginationDTO.totalPage},type=${type}, search=${search})}">
                                        <span aria-hidden="true">&gt;&gt;</span>
                                    </a>
                                </li>
                                <li>
                                    <input type="text" id="skip" name="skip" th:value="${skip}" style="height: 33px; margin-left: 10px; width: 37px; text-align: center;">
                                    <button onclick="submitCommentFrom($('#skip').val())" class="btn btn-primary" style="margin-bottom: 3px;">跳转</button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{foot :: foot}"></div>

    <div class="modal fade" id="deleteResultSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="">确认框</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" id="resultUrl" name="resultUrl">
                            <label class="control-label">删除成功</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="resultOK()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteResultErrorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">确认框</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label">删除失败</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="resultOK()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">确认框</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" id="deleteId" name="id">
                            <label class="control-label">确定要删除评论？</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-primary" onclick="deleteComment()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/gnmenu.js"></script>
<script src="/js/answer.js"></script>
<script src="/js/answer_modal.js"></script>
<script>
    new gnMenu(document.getElementById('gn-menu'));
</script>
<!-- tables -->
<script type="text/javascript">

</script>
<script type="text/javascript" src="/js/jquery.basictable.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#table').basictable();

        $('#table-breakpoint').basictable({
            breakpoint: 768
        });

        $('#table-swap-axis').basictable({
            swapAxis: true
        });

        $('#table-force-off').basictable({
            forceResponsive: false
        });

        $('#table-no-resize').basictable({
            noResize: true
        });

        $('#table-two-axis').basictable();

        $('#table-max-height').basictable({
            tableWrapper: true
        });
    });
</script>
<!-- //js -->
<script src="/js/screenfull.js"></script>
<script>
    $(function () {
        $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

        if (!screenfull.enabled) {
            return false;
        }


        $('#toggle').click(function () {
            screenfull.toggle($('#container')[0]);
        });
    });
</script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/scripts.js"></script>

<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>