<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>百度电影</title>
    <link rel="stylesheet" type="text/css" href="/css/style-over.css"/>
</head>
<body>
<div class="main">
    <div class="dy-content">
        <div class="dy-videos">
            <ul class="dy-video-list">
                <li data-="" class="dy-video-item dy-video-meta-right">
                    <div class="dy-video-meta">
                        <div class="dy-video-meta-dy">
                            <h3 class="dy-video-title"> 西虹市首富  </h3>
                            <p class="dy-video-intro"> 《西虹市首富》的故事发生在《夏洛特烦恼》中的“特烦恼”之城“西虹市”。混迹于丙级业余足球队的守门员王多鱼（沈腾饰演... <a class="dy-video-intro-more">更多</a> </p>
                        </div>
                    </div>
                    <div class="dy-video-poster"> <a class="dy-video-link">   <span>张三</span>   </a> </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>