<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <title>错误页面</title>
    <!-- Css Plugin -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slider-pro.min.css">
    <!--<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">-->
    <link rel="stylesheet" href="/css/woocommerce.css">
    <link rel="stylesheet" href="/css/woocommerce-layout.css">
    <link rel="stylesheet" href="/css/woocommerce-smallscreen.css" type="text/css"
          media="only screen and (max-width: 768px)">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/index-style.css">
    <link rel="stylesheet" href="/css/answer.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="woocommerce woocommerce-page">
<div id="main-container">
    <div id="main-content" style="text-align: center;">
        <section class="kopa-area kopa-area-breadcrumb">
            <div class="container">
                <div class="widget kopa-widget-breadcrumb" style="height: 100px;">
                    <div class="widget-content">
                    </div>
                </div>
            </div>
        </section>
        <section class="kopa-area">
            <div class="container">
                <div class="widget kopa-widget-certifications">
                    <header class="widget-header style-01">
                        <h3 class="widget-title">出错了</h3>
                        <h4>页面不存在，请返回<a href="/" style="color: red;">首页</a>重试</h4>
                    </header>

                </div>
            </div>
        </section>
    </div>
    <footer class="kopa-footer style-01">
        <div class="container">
            <p>Copyright &copy; 2019. <a href="/" target="_blank" title="在线答题系统">在线答题系统</a> All Rights Reserved Powered.
            </p>
        </div>
    </footer>
</div>

<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.sliderPro.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<!--<script src="/js/jquery.mCustomScrollbar.js"></script>-->
<script src="/js/masonry.pkgd.min.js"></script>
<!--<script src="/js/gmap3.min.js"></script>-->
<script src="/js/viewportchecker.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/answer.js"></script>
</body>

</html>

