.form-div{
    margin: 0 auto;
    width: 50%;
}
.option-div{
    display: inline-flex;
    height: 50px;
    width: 100%;
}
.option-button{
    height: 35px;
    width: 50px;
    margin-left: 5px;
}
.correct-label{
    width: 50px;
}

.answer-select{
    width: 100px;
    height: 33px;
    margin-right: 10px;
}

.input-skip{
    height: 33px;
    margin-left: 10px;
    width: 37px;
    text-align: center;
}