.form-div {
    margin: 0 auto;
    width: 70%;
}

.option-div {
    display: inline-flex;
    height: 50px;
    width: 100%;
}

.option-button {
    height: 35px;
    width: 50px;
    margin-left: 5px;
}

.correct-label {
    width: 50px;
}

.answer-select {
    width: 100px;
    height: 33px;
    margin-right: 10px;
}

.input-skip {
    height: 33px;
    margin-left: 10px;
    width: 37px;
    text-align: center;
}

.option-span {
    margin: 0 20px;
    font-size: 1.15em;
}

.answer-table {
    table-layout: fixed;
}

.answer-table-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg1{
    background: url('/images/bg-1.jpg');
    height: 800px;
    width: 100%;
    margin-top: -20px;
}

.copyrights {
    padding: 1.5em 0em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #000;
}
.copyrights p {
    font-size: 1em;
    color: #fff;
    margin-bottom: 0;
}
.copyrights p a{
    color: #1b93e1;
}
.copyrights p a:hover{
    color:#696969;
}

.history-left{
    float: left;
    width: 75%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.history-div-55{
    height: 55px;
}

.history-div-50{
    height: 50px;
}



.history-right{
    float: right;
}

.permission-add-div{
    position: relative;
    z-index: 999;
}

.permission-add-div a{
    float: right;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 20px;
    border: 1px solid #e4e4e4;
    z-index: 1000;
    margin: 15px;
    cursor: pointer;
}

.permission-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

.answer-login-form{
    position: relative;
    top: -100px;
    width: 980px;
    height: 425px;
    display: inline-block;
}

.answer-login-form h2{
    margin-bottom: 30px;
    text-align: center;
}

.answer-login-form img{
     width: 3%;
     margin-top: -68px;
     margin-left: 850px;
}
