.form-div {
    margin: 0 auto;
    width: 70%;
}

.option-div {
    display: inline-flex;
    height: 50px;
    width: 100%;
}

.option-button {
    height: 35px;
    width: 50px;
    margin-left: 5px;
}

.correct-label {
    width: 50px;
}

.answer-select {
    width: 100px;
    height: 33px;
    margin-right: 10px;
}

.input-skip {
    height: 33px;
    margin-left: 10px;
    width: 37px;
    text-align: center;
}

.option-span {
    overflow-wrap: break-word;
    margin: 10px 0
}

.answer-table {
    table-layout: fixed;
}

.answer-table-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg1{
    background: url('/images/bg-1.jpg');
    height: 800px;
    width: 100%;
    margin-top: -20px;
}

.copyrights {
    padding: 1.5em 0em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #000;
}
.copyrights p {
    font-size: 1em;
    color: #fff;
    margin-bottom: 0;
}
.copyrights p a{
    color: #1b93e1;
}
.copyrights p a:hover{
    color:#696969;
}

.history-left{
    float: left;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.history-div-55{
    height: 55px;
}

.history-div-50{
    height: 50px;
}



.history-right{
    float: right;
}

.permission-add-div{
    position: relative;
    z-index: 999;
}

.permission-add-div a{
    float: right;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 20px;
    border: 1px solid #e4e4e4;
    z-index: 1000;
    margin: 15px;
    cursor: pointer;
}

.permission-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

.answer-login-form{
    position: relative;
    top: -100px;
    width: 600px;
    height: 425px;
    display: inline-block;
}

.answer-login-form h2{
    margin-bottom: 30px;
    text-align: center;
}

.answer-login-form img{
     width: 3%;
     margin-top: -68px;
     margin-left: 500px;
}


.exercise-list-info{
    text-align: left;
    margin: 20px 10%;
}

.exercise-list-title{
    font-size: 1.25em;
    margin: 20px 10%;
}









#service-list .mobile-page pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}
.mobile-page{
    height: 600px;
    overflow: auto;
    background-color: #f4f5f7;
    margin-bottom: -20px;
}
.mobile-page .admin-img, .mobile-page .user-img{
    width: 45px;
    height: 45px;
}
i.triangle-admin,i.triangle-user{
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.mobile-page i.triangle-admin{
    left: 4px;
    border-right: 12px solid rgb(248, 248, 248);
}
.mobile-page i.triangle-user{
    right: 4px;
    border-left: 12px solid #9EEA6A;
}
.mobile-page .admin-group, .mobile-page .user-group{
    padding: 6px;
    display: flex;
    display: -webkit-flex;
}
.mobile-page .admin-group{
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.mobile-page .user-group{
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.mobile-page .admin-reply, .mobile-page .user-reply{
    display: inline-block;
    padding: 13px;
    border-radius: 4px;
    background-color: #fff;
    margin:0 15px 12px;
    font-size: .8rem;
    white-space: pre-wrap;
}
.mobile-page .admin-reply{
    box-shadow: 0px 0px 2px #ddd;
}
.mobile-page .user-reply{
    text-align: left;
    background-color: #9EEA6A;
    box-shadow: 0px 0px 2px #bbb;
}
.mobile-page .user-msg, .mobile-page .admin-msg{
    width: 75%;
    position: relative;
}
.mobile-page .user-msg{
    text-align: right;
}

.msg-hr{
    border-top: 1px solid #d8d8d8;
}

/*--- 消息输入框--- */
.msg-input-bgk{
    padding: .5rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    margin-top: -20px;
    background-color: #f4f5f7;
}
.msg-input-outer{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.msg-input-outer>textarea{
    border-radius:5px;
    flex-grow: 2;
    margin-right:1rem;
    border: 0px;
    font-size: 1em;
    background-color: #0000;
}
.msg-input-outer>a.button{
    margin: 0;
}

.contacts-div{
    margin-top: 0px;
    display: block;
    overflow: auto;
    height: 741px;
}


.msg-div-right{
    padding-left: 0;
    border-top: 1px solid #f6f6f6f6;
    border-right: 1px solid #f6f6f6f6;
    border-bottom: 1px solid #f6f6f6f6;
    padding-right: 0;
}

.msg-div-left{
    padding-right: 0;
    border-top: 1px solid #f6f6f6f6;
    border-left: 1px solid #f6f6f6f6;
    border-bottom: 1px solid #f6f6f6f6;
    padding-left: 0;
}

.chat-title-right{
    border-bottom: 1px solid #f6f6f6f6;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    width: 100%;
    height: 40px;
}

.chat-title-left{
    border-right: 1px solid #f6f6f6f6;
    border-bottom: 1px solid #f6f6f6f6;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    width: 100%;
    height: 40px;
}

.wrapper {
    /*text-transform: uppercase;*/
    /*background: #ececec;*/
    color: #3498DB;
    /*cursor: help;*/
    /*font-family: "Gill Sans", Impact, sans-serif;*/
    /*font-size: 20px;*/
    /*margin: 100px 75px 10px 75px;*/
    /*padding: 15px 20px;*/
    position: relative;
    /*text-align: center;*/
    /*width: 200px;*/
    /*float: left;*/
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltip {
    background: #1496bb;
    bottom: 100%;
    color: #fff;
    display: block;
    left: -140px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    /*width: 150%;*/
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #1496bb 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
    display: none;
}

.lte8 .wrapper:hover .tooltip {
    display: block;
}
/*
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}*/
.tooltip-p{
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}