<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>审核管理</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/css/table-style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/basictable.css"/>
    <link href="/css/component.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style_grid.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/answer.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <div th:insert="~{manage/navigation :: nav}"></div>
    <div class="clearfix"></div>

    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->

        <!-- breadcrumbs -->
        <div class="w3l_agileits_breadcrumbs">
            <div class="w3l_agileits_breadcrumbs_inner">
                <ul>
                    <li>首页<span>»</span></li>
                    <li>审核管理<span>»</span></li>
                    <li>权限申请</li>
                </ul>
            </div>
        </div>
        <!-- //breadcrumbs -->

        <div class="inner_content_w3_agile_info two_in">
            <div class="agile-tables">
                <div class="w3l-table-info agile_info_shadow">
                    <h3 class="w3_inner_tittle two">权限申请列表</h3>
                    <table id="table" class="answer-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>申请人</th>
                            <th>申请内容</th>
                            <th>申请时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="message:${paginationDTO.dataList}">
                            <td th:text="${message.messageId}"></td>
                            <td th:text="${message.userId}"></td>
                            <td class="answer-table-td" th:title="${message.content}"  th:text="${message.content}"></td>
                            <td th:text="${#dates.format(message.createTime,'yyyy-MM-dd hh:mm:ss')}"></td>
                            <td>
                                <button th:onclick="successPermissionReviewModal([[${message.messageId}]],[[${message.userId}]])" type="button" class="btn btn-danger">
                                    同意
                                </button>
                                <button th:onclick="reasonModal([[${message.messageId}]],[[${message.userId}]])" type="button" class="btn btn-danger">
                                    拒绝
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <nav style="text-align: center;">
                            <ul class="pagination" th:if="${paginationDTO.totalPage} > 0">
                                <li>
                                    <a href="javascript:void(0)" aria-label="Previous">
                                        <input type="hidden" id="totalPage" th:value="${paginationDTO.totalPage}">
                                        <span aria-hidden="true" th:text="|共${paginationDTO.totalPage}页|"></span>
                                    </a>
                                </li>
                                <li th:if="${paginationDTO.currentPage > 4} ">
                                    <a href="#" aria-label="Previous"
                                       th:href="@{/exercise/review(currentPage=1 , subjectId=${subjectId},type=${type},search=${search},exerciseType=${exerciseType})}">
                                        <span aria-hidden="true">&lt;&lt;</span>
                                    </a>
                                </li>
                                <li th:if="${paginationDTO.currentPage != 1} ">
                                    <a href="#" aria-label="Previous"
                                       th:href="@{/exercise/review(currentPage=${paginationDTO.currentPage-1}, subjectId=${subjectId},type=${type},search=${search},exerciseType=${exerciseType})}">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <li th:if="${paginationDTO.totalPage<=7}"
                                    th:each="pageNo : ${#numbers.sequence(1, paginationDTO.totalPage)}"
                                    th:class="${paginationDTO.currentPage == pageNo}?'active'">
                                    <a href="#" th:text="${pageNo}"
                                       th:href="@{/exercise/review(currentPage=${pageNo}, subjectId=${subjectId})}"></a>
                                </li>
                                <li th:if="${paginationDTO.totalPage>7 && paginationDTO.currentPage<=3}"
                                    th:each="pageNo : ${#numbers.sequence(1, 7)}"
                                    th:class="${paginationDTO.currentPage == pageNo}?'active'">
                                    <a href="#" th:text="${pageNo}"
                                       th:href="@{/exercise/review(currentPage=${pageNo}, subjectId=${subjectId})}"></a>
                                </li>
                                <li th:if="${paginationDTO.totalPage>7 && paginationDTO.currentPage>3 && paginationDTO.totalPage-paginationDTO.currentPage>=3}"
                                    th:each="pageNo : ${#numbers.sequence(paginationDTO.currentPage-3, paginationDTO.currentPage+3)}"
                                    th:class="${paginationDTO.currentPage == pageNo}?'active'">
                                    <a href="#" th:text="${pageNo}"
                                       th:href="@{/exercise/review(currentPage=${pageNo}, subjectId=${subjectId})}"></a>
                                </li>

                                <li th:if="${paginationDTO.totalPage>7 && paginationDTO.currentPage>3 && paginationDTO.totalPage-paginationDTO.currentPage<3}"
                                    th:each="pageNo : ${#numbers.sequence(paginationDTO.currentPage-3, paginationDTO.totalPage)}"
                                    th:class="${paginationDTO.currentPage == pageNo}?'active'">
                                    <a href="#" th:text="${pageNo}"
                                       th:href="@{/exercise/review(currentPage=${pageNo}, subjectId=${subjectId})}"></a>
                                </li>


                                <li th:if="${paginationDTO.currentPage != paginationDTO.totalPage} ">
                                    <a href="#" aria-label="Next"
                                       th:href="@{/exercise/review(currentPage=${paginationDTO.currentPage+1}, subjectId=${subjectId})}">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li th:if="${paginationDTO.currentPage+3 < paginationDTO.totalPage} ">
                                    <a href="#" aria-label="Next"
                                       th:href="@{/exercise/review(currentPage=${paginationDTO.totalPage}, subjectId=${subjectId})}">
                                        <span aria-hidden="true">&gt;&gt;</span>
                                    </a>
                                </li>
                                <li>
                                    <input type="text" id="skip" name="skip" th:value="${skip}" class="input-skip">
                                    <button onclick="submitReviewExerciseFrom($('#skip').val())" class="btn btn-primary" style="margin-bottom: 3px;">跳转</button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{foot :: foot}"></div>
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">确认框</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" id="resultUrl" name="resultUrl">
                            <label class="control-label">操作成功</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="resultOK()">确认</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            拒绝理由：<textarea class="form-control" id="reason" rows="3"></textarea>
                            <input type="hidden" id="reasonId">
                            <input type="hidden" id="reasonUserId">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="failPermissionReviewModal()">确认</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/gnmenu.js"></script>
<script src="/js/answer.js"></script>
<script src="/js/answer_modal.js"></script>
<script>
    new gnMenu(document.getElementById('gn-menu'));
</script>
<!-- tables -->

<script type="text/javascript" src="/js/jquery.basictable.min.js"></script>
<script>

    window.onload = function () {
        var modelInput = $("#modelInput").val();
        if (modelInput != null && modelInput != "") {
            return
        }
        $.ajax({
            url: '/subject/base',
            type: 'post',
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    $('#base').html("<option></option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#base').append("<option>" + data[i] + "</option>");
                    }
                }
            }
        });
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').basictable();

        $('#table-breakpoint').basictable({
            breakpoint: 768
        });

        $('#table-swap-axis').basictable({
            swapAxis: true
        });

        $('#table-force-off').basictable({
            forceResponsive: false
        });

        $('#table-no-resize').basictable({
            noResize: true
        });

        $('#table-two-axis').basictable();

        $('#table-max-height').basictable({
            tableWrapper: true
        });
    });
</script>
<!-- //js -->
<script src="/js/screenfull.js"></script>

<script>
    $(function () {
        $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

        if (!screenfull.enabled) {
            return false;
        }


        $('#toggle').click(function () {
            screenfull.toggle($('#container')[0]);
        });
    });
</script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/scripts.js"></script>

<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>