<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.qiyoung.answer.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="top.qiyoung.answer.model.Comment">
        <id column="comment_id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="receiver_id" jdbcType="INTEGER" property="receiverId"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getCommentList" resultMap="BaseResultMap" parameterType="top.qiyoung.answer.model.Query">
        select * from comment
        <where>
            <if test="type != null and type != ''">
                <if test="type == 'myUser' and search != null and search != ''">
                  user_id = #{search}
                </if>
                <if test="type == 'exercise' and search != null and search != ''">
                  parent_id = #{search} and type = 1
                </if>
            </if>
        </where>
        <if test="order != null and order != ''">
            order by ${order}
        </if>
        <if test="index != null and size != null">
            limit #{index},#{size}
        </if>
    </select>

    <select id="countCommentList" parameterType="top.qiyoung.answer.model.Query" resultType="Integer">
        select count(*) from comment
        <where>
            <if test="type != null and type != ''">
                <if test="type == 'myUser' and search != null and search != ''">
                    user_id = #{search}
                </if>
                <if test="type == 'exercise' and search != null and search != ''">
                    parent_id = #{search} and type =1
                </if>
            </if>
        </where>
    </select>

    <delete id="deleteByCommentId" parameterType="java.lang.Integer">
        delete from comment
        <where>
            <if test="commentId != null">
                comment_id = #{commentId}
            </if>
        </where>
    </delete>

    <delete id="deleteByExerciseId" parameterType="java.lang.Integer">
        delete from comment
        <where>
            <if test="exerciseId != null">
                parent_id = #{exerciseId} and type = 1
            </if>
        </where>
    </delete>

    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete from comment
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
    </delete>

    <select id="getCommentListByParentIdType1" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from comment
        <where>
            <if test="parentId != null">
                parent_id = #{parentId} and type = 1
            </if>
        </where>
        order by create_time desc limit #{index},#{size}
    </select>
    <select id="CountCommentListByParentIdType1" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(1) from comment
        <where>
            <if test="parentId != null">
                parent_id = #{parentId} and type = 1
            </if>
        </where>
    </select>

    <select id="getCommentListByParentIdType2" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from comment
        <where>
            <if test="parentId != null">
                parent_id = #{parentId} and type = 2
            </if>
        </where>
        limit #{index},#{size}
    </select>

    <select id="CountCommentListByParentIdType2" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(1) from comment
        <where>
            <if test="parentId != null">
                parent_id = #{parentId} and type = 2
            </if>
        </where>
    </select>

    <insert id="addComment" parameterType="top.qiyoung.answer.model.Comment">
        insert into comment(user_id, parent_id, content, create_time,type,like_count,receiver_id) values (#{userId},#{parentId},#{content},#{createTime},#{type},#{likeCount},#{receiverId})
    </insert>

    <select id="countByExerciseId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(1) from comment
        <where>
              parent_id = #{exerciseId} and type = 1
        </where>
    </select>

    <select id="getCommentByCommentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from comment where comment_id = #{commentId}
    </select>

    <update id="addLike" parameterType="java.lang.Integer">
        update comment
        <set>
            like_count = like_count + 1
        </set>
        <where>
            comment_id = #{commentId}
        </where>
    </update>

    <update id="delLike" parameterType="java.lang.Integer">
        update comment
        <set>
            like_count = like_count - 1
        </set>
        <where>
            comment_id = #{commentId}
        </where>
    </update>
</mapper>