<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.qiyoung.answer.mapper.ExerciseMapper">
    <resultMap id="BaseResultMap" type="top.qiyoung.answer.model.Exercise">
        <id column="exercise_id" jdbcType="INTEGER" property="exerciseId"/>
        <result column="exercise_type" jdbcType="VARCHAR" property="exerciseType"/>
        <result column="subject_id" jdbcType="INTEGER" property="subjectId"/>
        <result column="correct" jdbcType="VARCHAR" property="correct"/>
        <result column="exercise_title" jdbcType="VARCHAR" property="exerciseTitle"/>
        <result column="analysis" jdbcType="VARCHAR" property="analysis"/>
        <result column="option_content" jdbcType="VARCHAR" property="optionContent"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <resultMap id="EIdAndMId" type="top.qiyoung.answer.model.EIdAndMId">
        <result column="exercise_id" jdbcType="INTEGER" property="exerciseId"/>
        <result column="message_id" jdbcType="INTEGER" property="messageId"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="exerciseId" keyColumn="exercise_id" parameterType="top.qiyoung.answer.model.Exercise">
        insert into exercise (exercise_type, subject_id, correct, option_content, create_user_id, status, create_time, modify_time,exercise_title,analysis)
           values(#{exerciseType},#{subjectId},#{correct},#{optionContent},#{createUserId},#{status},#{createTime},#{modifyTime},#{exerciseTitle},#{analysis})
    </insert>

    <select id="getExerciseList" parameterType="top.qiyoung.answer.model.Query" resultMap="BaseResultMap">
        select * from exercise
        <where>
            <if test="search != null and search != ''">
                <if test="type != null and type != ''">
                    <if test="type == 'title'">
                        and exercise_title like "%"#{search}"%"
                    </if>
                    <if test="type == 'createUser'">
                        and create_user_id like "%"#{search}"%"
                    </if>
                </if>
            </if>
            <if test="role != null">
                and role = #{role}
            </if>
            <if test="id != null">
                and subject_id = #{id}
            </if>
            <if test="exerciseType != null and exerciseType != ''">
                and exercise_type = #{exerciseType}
            </if>
            <if test="1 == 1">
                and status = 1
            </if>
        </where>
        <if test="order != null and order != ''">
            order by ${order}
        </if>
        <if test="index != null and size != null">
            limit #{index},#{size}
        </if>
    </select>

    <select id="countExerciseList" parameterType="top.qiyoung.answer.model.Query" resultType="Integer">
        select count(*) from exercise
        <where>
            <if test="search != null and search != ''">
                <if test="type != null and type != ''">
                    <if test="type == 'title'">
                        and exercise_title like "%"#{search}"%"
                    </if>
                    <if test="type == 'createUser'">
                        and create_user_id like "%"#{search}"%"
                    </if>
                </if>
            </if>
            <if test="role != null">
                and role = #{role}
            </if>
            <if test="id != null">
                and subject_id = #{id}
            </if>
            <if test="exerciseType != null and exerciseType != ''">
                and exercise_type = #{exerciseType}
            </if>
            <if test="1 == 1">
                and status = 1
            </if>
        </where>
    </select>

    <select id="getExerciseById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from exercise where exercise_id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from exercise
        <where>
            <if test="id != null">
                exercise_id = #{id}
            </if>
        </where>
    </delete>

    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete from exercise
        <where>
            <if test="userId != null">
                create_user_id = #{userId}
            </if>
        </where>
    </delete>

    <update id="update" parameterType="top.qiyoung.answer.model.Exercise">
        update exercise
        <set>
            <if test="exerciseType != null and exerciseType != ''">
                exercise_type = #{exerciseType},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="correct != null and correct != ''">
                correct = #{correct},
            </if>
            <if test="optionContent != null and optionContent != ''">
                option_content = #{optionContent},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="exerciseTitle != null and exerciseTitle != ''">
                exercise_title = #{exerciseTitle},
            </if>
            <if test="analysis != null and analysis != ''">
                analysis = #{analysis}
            </if>
        </set>
        <where>
            <if test="exerciseId != null">
                and exercise_id = #{exerciseId}
            </if>
        </where>
    </update>

    <select id="getExerciseBySubjectId" resultMap="BaseResultMap">
        select exercise_id,exercise_title,exercise_type,option_content from exercise
        <where>
            <if test="subjectId != null">
                and subject_id = #{subjectId}
            </if>
            <if test="query.type != null and query.type != ''">
                and exercise_type = #{query.type}
            </if>
            <if test="1 == 1">
                and status = 1
            </if>
        </where>
        <if test="query.order != null and query.order != ''">
            order by ${query.order}
        </if>
    </select>

    <select id="getExerciseListBySubjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select exercise_id from exercise
        <where>
            <if test="subjectId != null">
                and subject_id = #{subjectId}
            </if>
        </where>
    </select>

    <select id="getReviewExercise" parameterType="top.qiyoung.answer.model.Query" resultMap="EIdAndMId">
        select e.exercise_id,m.message_id from exercise e inner join message m on e.exercise_id = m.exercise_id
        <where>
            <if test="id != null">
                and e.subject_id = #{id}
            </if>
            <if test="1==1">
                and e.status = 0 and m.type = 2 and m.status = 0
            </if>
        </where>
        <if test="order != null and order != ''">
            order by #{order}
        </if>
        <if test="index != null and size != null">
            limit #{index},#{size}
        </if>
    </select>

    <select id="countReviewExercise" resultType="java.lang.Integer">
        select count(*) from exercise e inner join message m on e.exercise_id = m.exercise_id
        <where>
            <if test="id != null">
                and e.subject_id = #{id}
            </if>
            <if test="1==1">
                and e.status = 0 and m.type = 2 and m.status = 0
            </if>
        </where>
        <if test="order != null and order != ''">
            order by #{order}
        </if>
    </select>

    <select id="getReviewExerciseByUserId" resultMap="BaseResultMap">
        select * from exercise
        <where>
            <if test="userId != null">
                and create_user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
            order by create_time desc
        <if test="index != null and size != null">
            limit #{index},#{size}
        </if>
    </select>

    <select id="countReviewExerciseByUserId" resultType="java.lang.Integer">
        select count(*) from exercise
        <where>
            <if test="userId != null">
                and create_user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <update id="updateById" parameterType="java.lang.Integer">
        update exercise
        <set>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        <where>
            <if test="id != null">
                exercise_id = #{id}
            </if>
        </where>
    </update>
</mapper>