<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.qiyoung.answer.mapper.ExercisesContentMapper">
    <resultMap id="BaseResultMap" type="top.qiyoung.answer.model.ExercisesContent">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert"  parameterType="top.qiyoung.answer.model.ExercisesContent">
        insert into exercisescontent (content,create_time) values (#{content},#{createTime})
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getExercisesContentById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from exercisescontent
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from exercisescontent
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </delete>

    <update id="update" parameterType="top.qiyoung.answer.model.ExercisesContent">
        update exercisescontent
        <set>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </update>
</mapper>