<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.qiyoung.answer.mapper.MidMapper">
    <insert id="insert" parameterType="java.lang.Integer">
        insert into exercise_set_mid (exercise_id, exercise_set_id)
           values(#{exerciseId},#{exerciseSetId})
    </insert>
</mapper>