<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.qiyoung.answer.mapper.MidMapper">
    <insert id="insert" parameterType="java.lang.Integer">
        insert into exercise_set_mid (exercise_id, exercise_set_id)
           values(#{exerciseId},#{exerciseSetId})
    </insert>
    <delete id="deleteByExerciseSetId" parameterType="java.lang.Integer">
        delete from exercise_set_mid
        <where>
            <if test="exerciseSetId != null">
                exercise_set_id = #{exerciseSetId}
            </if>
        </where>
    </delete>
    <delete id="deleteByExerciseId" parameterType="java.lang.Integer">
        delete from exercise_set_mid
        <where>
            <if test="exerciseId != null">
                exercise_id = #{exerciseId}
            </if>
        </where>
    </delete>
    <select id="getExerciseIdListByExerciseSetId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select exercise_id from exercise_set_mid
        <where>
            <if test="exerciseSetId != null">
                and exercise_set_id = #{exerciseSetId}
            </if>
        </where>
    </select>
</mapper>