<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.qiyoung.answer.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="top.qiyoung.answer.model.Message">
        <id column="message_id" jdbcType="INTEGER" property="messageId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="countMessageList" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from message where status = 0 and type = #{type};
    </select>

    <select id="countAllPermission" resultType="java.lang.Integer">
        select count(*) from message where status = 0;
    </select>

    <select id="getMessageList" parameterType="top.qiyoung.answer.model.Query" resultMap="BaseResultMap">
        select * from message where status = 0 and type = #{type}
        <if test="order != null and order != ''">
            order by #{order}
        </if>
        <if test="index != null and size != null">
            limit #{index},#{size}
        </if>
    </select>

    <update id="updateStatus">
        update message
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="reason != null">
                reason = #{reason}
            </if>
        </set>
        <where>
            <if test="messageId != null">
                message_id = #{messageId}
            </if>
        </where>
    </update>

    <select id="getMessageByMessageId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from message
        <where>
            <if test="messageId != null">
                message_id =#{messageId}
            </if>
        </where>
    </select>

    <select id="getMessageListByUserId" resultMap="BaseResultMap">
        select * from message
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="1==1">
                and type = 1
            </if>
        </where>
        order by #{query.order}
        <if test="query.index != null and query.size">
            limit #{query.index},#{query.size}
        </if>
    </select>

    <select id="countMessageListByUserId" resultType="java.lang.Integer">
        select count(1) from message
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="1==1">
                and type = 1
            </if>
        </where>
    </select>

    <insert id="add" parameterType="top.qiyoung.answer.model.Message">
        insert into message(exercise_id, content, type, reason, user_id, status, create_time) values (#{exerciseId},#{content},#{type},#{reason},
        #{userId},#{status},#{createTime})
    </insert>

    <select id="getMessageByExerciseIdAndUserId" resultMap="BaseResultMap">
        select * from message
        <where>
            <if test="userId != null and exerciseId != null">
                user_id = #{userId} and exercise_id = #{exerciseId}
            </if>
        </where>
    </select>

    <delete id="deleteByExerciseId" parameterType="java.lang.Integer">
        delete from message
        <where>
            <if test="exerciseId != null">
                exercise_id = #{exerciseid}
            </if>
        </where>
    </delete>
    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete from message
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
    </delete>
</mapper>